.button-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    padding: 20px;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: #312682;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
    background-color: #11B4B9;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.button-icon {
    margin-right: 10px;
    font-size: 24px;
}

.button-label {
    font-weight: bold;
}