@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Styles de base */
.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}

.navbar .logo img {
  max-width: 200px;
  height: auto;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: #635ca1;
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #333;
}

/* Pour les écrans plus petits */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }

  .hamburger.active div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
}
